* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
}


body {
    background: linear-gradient(157deg, #EFF8FE 0%, #F5FBFF 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

header {
    padding: 38px 100px 0 100px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    padding: 12px 100px 0 100px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;


}

@media only screen and (max-width: 1024px) {
    .main {
        padding: 12px 40px 0 40px;
    }
    header {
        padding: 24px 40px 0 40px;
    }
}

@media only screen and (max-width: 480px) {
    .main {
        padding: 12px 20px 0 20px;
    }

    header {
        padding: 24px 20px 0 20px;
    }
}

.main-button {
    display: inline-flex;
    height: 58px;
    cursor: pointer;
    padding: 18px 56px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FE4949;
    border: none;
    color: #EFF8FE;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.main-video {
    position: relative;
}

.placeholder {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.placeholder-tablet {
    display: none;
}

.placeholder-mobile {
    display: none;
}

@media only screen and (max-width: 1600px) and (min-width: 1025px) and (max-height: 900px) {
    .placeholder {
        max-height: 520px;
    }
}


@media only screen and (max-width: 1600px) and (min-width: 1025px) and (max-height: 800px) {
    .placeholder {
        max-height: 440px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1025px) and (max-height: 750px) {
    .placeholder {
        max-height: 400px;
    }
}

@media only screen and (max-width: 1600px) and (min-width: 1025px) and (max-height: 700px) {
    .placeholder {
        max-height: 360px;
    }
}

@media only screen and (max-width: 1025px) and (max-height: 1367px) {
    .placeholder {
        display: none;
    }
    .placeholder-tablet {
        display: inline;
    }
    .placeholder-tablet {
        width: 100%;
        height: 600px;
    }
}

@media only screen and (max-width:480px) and (max-height: 940px) {
    .placeholder {
        display: none;
    }

    .placeholder-tablet {
        display: none;
    }
    .placeholder-mobile {
        display: inline;
    }
    .placeholder-mobile {
        width: auto;
        height: auto;
        object-fit: contain;
    }
}

@media screen and (max-width: 480px) and (max-height: 700px) {
    .placeholder-mobile {
        width: auto;
        height: 320px;
    }

}

.self-video {
    position: absolute;
    top: 0;
    right: 0;
}

.self-inner {
    position: relative;
}

.self-image {
    border-radius: 8px;
}

.self-image-tablet, .self-image-mobile {
    display: none;
}

@media only screen and (max-width: 767px) and (min-width: 481px) {
    .self-image {
        display: none;
    }

    .self-image-tablet {
        display: inline;
    }

}

@media only screen and (max-width: 480px) {
    .self-image {
        display: none;
    }

    .self-image-mobile {
        display: inline;
    }

    .switch {
        padding: 8px;
    }

}

.switch {
    cursor: pointer;
    background: #62B4F2;
    border: none;
    border-radius: 8px;
    position: absolute;
    right: 0;
    bottom: 4px;
    padding: 12px;
}

@media only screen and (max-width: 480px) {
    .switch {
        padding: 8px;
    }

    .switch-icon {
        width: 24px;
    }

}




.time-call {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 1025px) {
    .time-call {
        margin-bottom: 0;
    }
}

.time-call-icon {
    color: red;
}

.time-call-time {
    color: #294C65;
    font-size: 1.25rem;
    margin-bottom: 4px
}

.bottom-bar {
    width: 100%;
    background: #62B4F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 96px;
}

@media screen and (max-width: 1025px) {
    .bottom-bar {
        position: fixed;
        bottom: 0;
    }

}

.bottom-icon-div {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.bottom-icon {
    width: 64px;
}

@media only screen and (max-width: 480px) {
    .bottom-icon {
        width: 48px;
    }
}

.bottom-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: #EFF8FE;
}


/*Join Meeting CSS*/

@media only screen and (max-width: 481px) {
    .main {
        padding-bottom: 80px;
    }
}

#join-call {
    background: #01CD9D;
}

.join-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.join-message-text {
    color: #294C65;
    font-size: 1.25rem;
    margin-bottom: 4px;
    text-align: center;
    max-width: 320px;
}

@media screen and (max-width: 480px) {
    .join-message-text {
        font-size: 1.125rem;
    }

}

.waiting-placeholder {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

@media only screen and (max-width: 1536px) and (max-height: 901px) {
    .waiting-placeholder {
        height: 460px;
    }
}



@media only screen and (max-width: 1370px) and (max-height: 780px) {
    .waiting-placeholder {
        height: 350px !important;
    }
}

@media only screen and (max-width: 1300px) and (max-height: 721px) {
    .waiting-placeholder {
        height: 280px !important;
    }
}

@media only screen and (max-width: 1025px) and (max-height: 1367px) {
    .waiting-placeholder {
        height: 480px !important;
    }
}

@media only screen and (max-width: 376px) and (max-height: 677px) {
    .waiting-placeholder {
        height: 240px !important;
    }
}